{% extends 'blog/base.html' %}

{% block content %}
<br>

<img src="https://i.imgur.com/Qa2zHNw.jpg" style="width: auto; height: auto;max-width: 220px;max-height: 200px" style="float:left;" style="margin: 40px 40px">
<!--<img src="https://i.imgur.com/Qa2zHNw.jpg" class="w3-round" alt="Pritee" style="float:left;width:318px;height:289px;">-->
<!--<img class= "headshot" src="https://i.imgur.com/Qa2zHNw.jpg">-->
<br>


<h10><br><p>This is where I would put a humble but impressive summary of my stellar accomplishments and esoteric interests. </p> </h10>
<br>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/priteet" data-format="inline" data-related="false"></script>



{% endblock %}
