{% extends 'blog/base.html' %}

{% block content %}
<br>
<img src="https://i.imgur.com/Qa2zHNw.jpg" style="width: auto; height: auto;max-width: 220px;max-height: 200px" style="float:center;" style="margin: 40px 40px">
<br>


<h10><br><p>This is where I would put a humble but impressive summary of my stellar accomplishments and esoteric interests. </p> </h10>
<h10><p>If I were into that kind of thing. </p> </h10>
<br>
<!--
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/priteet" data-format="inline" data-related="false"></script>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>-->
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="priteet"><a class="LI-simple-link" href='https://www.linkedin.com/in/priteet?trk=profile-badge'>Pritee Tembhekar</a></div>
{% endblock %}
