{% extends 'blog/base.html' %}
{% block content %}
<img class= headshot src="https://i.imgur.com/Qa2zHNw.jpg" style="width: auto; height: auto;max-width: 220px;max-height: 200px" style="float:left;" style="margin: 20px 20px">
<!--<img src="https://i.imgur.com/Qa2zHNw.jpg" class="w3-round" alt="Pritee" style="float:left;width:318px;height:289px;">-->
<h11>About Pritee</h11>
<h10><br><p>Pritee loves solving challenging problems, working with exceptional people, and building things from the ground up. Before HBS, she worked for Google creating long-term financial plans, strategies, and pricing recommendations for a range of Google products. Prior to Google, Pritee worked for The Boston Consulting Group traveling the world and helping clients in retail, pharmaceuticals, private equity, energy, utilities, and chemicals. Pritee has a degree in chemical engineering from MIT. Pritee is currently an MBA candidate at Harvard Business School. </p> </h10>
<h10><a href="https://www.linkedin.com/in/priteet/">LinkedIn</a></h10>
<h10><p>Pritee is organizing the Entrepreneurship Conference at HBS. Learn more <a href="https://www.econferencehbsclub.com/">here</a> </p></h10>
    <!--<h2> If you have questions or interest in participating please reach out using the form below.</h2>-->
    <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScFw7NtKR8yFSgNOWnGf5YfXbMrK8TWxl1G-FC2uPYU06102g/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->
{% endblock %}
