<!DOCTYPE html>
<html lang="en">
<title>Pritee Tembhekar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylish.css">
<body>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
    <link href="https://fonts.googleapis.com/css?family=Dosis|Karma|Mina" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bungee|Cabin+Sketch" rel="stylesheet">
    <meta charset="UTF-8">-->
   
    <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
        <img class="w3-image" src="https://i.imgur.com/qzSaHK1.jpg" alt="Boston" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
          <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Pritee</h1>
          <h5 class="w3-hide-large" style="white-space:nowrap">Pritee</h5>
          <h3 class="w3-hide-medium w3-hide-small">Tembhekar</h3>
        </div>
   <!-- <div class="stylish-page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <a href="/"></a><center>Pritee Tembhekar</center></a>
    </div>
    <div class="banner-stylish">
        <br> 
        <img src="https://i.imgur.com/qzSaHK1.jpg" > 
         <br>
    </div>-->

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
