<img src="https://i.imgur.com/Qa2zHNw.jpg" style="width: auto; height: auto;max-width: 220px;max-height: 200px" style="float:left;" style="margin: 40px 40px">
{% extends 'blog/base.html' %}
{% block content %}
<img src="/Boston Skyline - Edited.jpeg" style="width: auto; height: auto;max-width: 220px;max-height: 200px" style="float:left;" style="margin: 40px 40px">
<h1><a href="{% url 'about_page'%}">About      <br></a></h1><br>
<h1><a href="{% url 'team_page'%}">Website Purpose        <br></a></h1><br>
<!-- <h8><a href="{% url 'post_list'%}">Companies to Watch</a></h8> -->
<h1><a href="{% url 'plaid_page'%}">Link Demo</a></h1>

{% endblock %}
