<!--<!DOCTYPE html>
<html lang="en">
<title>Pritee Tembhekar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylish.css">
<body>

<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
    <img class="w3-image" src="https://i.imgur.com/qzSaHK1.jpg" alt="Boston" width="1500" height="600">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">Pritee Tembhekar</h1>
      <h5 class="w3-hide-large" style="white-space:nowrap">Pritee Tembhekar</h5>
      <h3 class="w3-hide-medium w3-hide-small">Tembhekar</h3>
    </div>


<h1><a href="{% url 'about_page'%}">About      <br></a></h1><br>
<h1><a href="{% url 'team_page'%}">Website Purpose        <br></a></h1><br>
 <h8><a href="{% url 'post_list'%}">Companies to Watch</a></h8> 
<h1><a href="{% url 'plaid_page'%}">Link Demo</a></h1>

</body>
</html> --> 

<!DOCTYPE html>
<html>
<title>Pritee</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>PT</b> Pritee</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://i.imgur.com/Qa2zHNw.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>PT</b></span> <span class="w3-hide-small w3-text-light-grey">Tembhekar</span></h1>
  </div>
</header>



</div>


</body>
</html>

