.banner-stylish {
    width: 100%;
    background-image: url(https://i.imgur.com/qzSaHK1.jpg);
    height: 150px;
    background-position: center;
    padding : 10px;
  }

  .stylish-page-header {
    background-color: #a50808;
    margin-top: 0;
    padding: 10px 20px 20px 40px;
    font-size: 36pt;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}