.page-header {
    background-color: #a50808;
    margin-top: 0;
    padding: 10px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.banner-image {
  width: 100%;
  background-image: url(https://i.imgur.com/qzSaHK1.jpg);
  height: 175px;
  background-position: center;
}

.headshot {
 border-radius: 8px;
 padding : 10px;
 class="w3-round";
 style="float:left;width:318px;height:289px;
}

h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 42pt;
}
h12{
    font-family: 'Cabin Sketch', cursive;
    font-size: 30pt;
}

h3,h4,h2,h9 {
    font-family: 'Dosis', sans-serif;
}

h6, h7, h8 {
    font-family: 'Cabin Sketch', cursive;
    display: inline-block;
    font-size: 34pt;
    padding:5px 60px;
    text-align: center;
}

h10 {
font-family: 'Dosis', sans-serif;
   font-size: 18pt;}

h11 {
font-family: 'Dosis', sans-serif;
   font-size: 24pt}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
